{% extends 'base.html' %}
{% load static %}

{% block body %}

<h1>Hello world</h1>
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus unde sapiente a recusandae consequuntur libero dolore quod, tenetur consequatur quo perferendis eos ipsam, nulla corrupti. Excepturi quaerat similique dolorem quo?</h1>
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus unde sapiente a recusandae consequuntur libero dolore quod, tenetur consequatur quo perferendis eos ipsam, nulla corrupti. Excepturi quaerat similique dolorem quo?</h1>
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus unde sapiente a recusandae consequuntur libero dolore quod, tenetur consequatur quo perferendis eos ipsam, nulla corrupti. Excepturi quaerat similique dolorem quo?</h1>
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus unde sapiente a recusandae consequuntur libero dolore quod, tenetur consequatur quo perferendis eos ipsam, nulla corrupti. Excepturi quaerat similique dolorem quo?</h1>
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus unde sapiente a recusandae consequuntur libero dolore quod, tenetur consequatur quo perferendis eos ipsam, nulla corrupti. Excepturi quaerat similique dolorem quo?</h1>
{% endblock body %}