body{
    margin: 0;
    padding: 0;
}
.preload{
    width: 100%;
    height: 100%;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 2s;
}
.loader-frame{
    width: 80px;
    height: 80px;
    margin: auto;
    top: 50%;
    justify-content: center;
    align-items: center;
    position: relative;

}
.preload.complete{
    top: 100%;
}
.loader1, .loader2{
    position: absolute;
    border: 5px solid transparent;
    border-radius: 50%;
}
.loader1 {
    width: 70px;
    height: 70px;
    border-top: 5px solid azure;
    border-bottom: 5px solid azure;
    animation: clockwisespin 2s infinite linear;
    z-index: 2;
    align-self: center;
}
.loader2 {
    width: 60px;
    height: 60px;
    border-top: 5px solid darkturquoise;
    border-bottom: 5px solid darkturquoise;
    z-index: 2;
    align-self: center;
    top: 5px; left: 5px;
    animation: anticlockwisespin 2s infinite linear;
}
@keyframes clockwisespin{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes anticlockwisespin{
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}
@keyframes fadeout{
    from {opacity: 1;}
    to {opacity: 0;}
}

#nav-wrapper{
    top: 0;
    position: fixed;
    transition: top 0.3s;
}