{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <!-- Mobile specific metas ======================================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Title ======================================================================================== -->
    <title>Ariq</title>
    
    <!-- Import google icon and font ================================================================== -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!--  CSS Framework(s) ============================================================================ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <!-- CSS ========================================================================================== -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
</head>
<body style="padding-top: 56px;">
    
    <!-- Navigation Bar =============================================================================== -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#">link 3</a></li>
        <li><a href="#">link 4</a></li>
    </ul>
    <nav id="nav-wrapper">
        
        <!-- slide out items -->
        <ul id="slide-out" class="sidenav">
            <li><a href="#">link 1</a></li>
            <li><a href="#">link 2</a></li>
            <li><a href="#">link 3</a></li>
            <li><a href="#">link 4</a></li>
        </ul>
        
        <!-- mobile devices use slide out nav bar -->
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-medium-and-down" 
        style="z-index:100">
        <i class="material-icons">menu</i>
    </a>
    
    
    <div class="nav-wrapper" style="background-color: #333;">
        <a href="/" class="brand-logo" style="margin-left: 15px;">
            <span style="color: #80EEF5;">Lo</span>
            <span style="margin-left: -6px;">Go</span>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">link 1</a></li>
            <li><a href="#">link 2</a></li>
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </div>
    </nav>
    <!-- ======================================================================== End of navigation bar -->

    <!-- main content ================================================================================= -->
    {% block body %}{% endblock body %}
    <!-- ========================================================================== End of main content -->

<!-- preloader page =================================================================================== -->
<div class="preload">
    <div class="loader-frame">
        <span class="loader1" id="loader1"></span>
        <span class="loader2" id="loader2"></span>
    </div>
</div>
<!-- ============================================================================ End of preloader page -->

<!-- jQuerie(s) ======================================================================================= -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!-- javascript(s) ==================================================================================== -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>           
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>
